@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
  height: 100%; }

body {
  font: 16px/20px 'open sans',sans-serif, 'Noto Sans TC',"微軟正黑體" !important;
  margin: 0;
  padding: 0;
  height: 100%; }

/*reset*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

br {
  display: block;
  margin: 0 0 5px; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body > img {
  display: none; }

img {
  border: none;
  padding: 0;
  margin: 0; }

a, a:active, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  background-color: none;
  display: block;
  -webkit-tap-highlight-color: transparent; 
}

table, tr, td {
  padding: 0;
  border-spacing: 0; }

/*reset end */
// section{
//   border-bottom: 1px solid white;
// }

html{
  body{
    width: 100%;
    color: white;
    height: 100%;
    background-color: black;
    nav{

    }
    
    #home{
      height: 100vh;
      // background-color: black;
      // background-image: url(img/bgimg.png);
      // background-size: 107%;
      // background-position-x:15%;
      // background-position-y:-1%;
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -230px;
      }
    }

    #openhci2016{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          :nth-child(1){
            font-size: 26px;
          }
        }
      }
    }

    #introngoals{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          h2{
            margin-bottom: 10px;
          }
        }
      }
    }

    #program{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 2% 0 2%;
        .title{
          .main-title{
            display: inline-block;
          }
          .subtitle{
            width: 230px;
            display: inline-block;
          }
        }
        #schedule{
          .days{
            display: block;
            width: 30%;
            float: left;
            li{
              border-left: 1px solid white;
              background-color: none;
              a{
                display: block;
                color: white;
                .day1{
                  width: 71px;
                  height: 26px;
                  border-image: url(img/program/day1.png);
                  background-size: cover;
                }
                .day2{
                  width: 71px;
                  height: 26px;
                  border-image: url(img/program/day2.png);
                  background-size: cover;
                }
                .day3{
                  width: 71px;
                  height: 26px;
                  border-image: url(img/program/day3.png);
                  background-size: cover;
                }
                .day4{
                  width: 71px;
                  height: 26px;
                  border-image: url(img/program/day4.png);
                  background-size: cover;
                }
                .day5{
                  width: 71px;
                  height: 26px;
                  border-image: url(img/program/day5.png);
                  background-size: cover;
                }
                .day6{
                  width: 71px;
                  height: 26px;
                  border-image: url(img/program/day6.png);
                  background-size: cover;
                }
              }
            }
            li.active{
              background-color: yellow;
              a{
                font-size: 28px;
              }
            }
          }
          .time-container{
            width: 70%;
            float: right;
            .day1-time{}
            .day2-time{}
            .day3-time{}
            .day4-time{}
            .day5-time{}
            .day6-time{}
          }
        }
      }
    }

    #registration{
      height: 100vh;
    }

    #crew{
      height: 100vh;
    }

    #contact{
      height: 100vh;
      img{
        position: absolute;
        left: 50%;
        margin-left: -150px;
        margin-top: 100px;
      }
    }
  }
}








