@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800,900);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

html {
  height: 100%; }

body {
  font: 16px/20px 'open sans',sans-serif, 'Noto Sans TC',"微軟正黑體" !important;
  margin: 0;
  padding: 0;
  height: 100%; }

/*reset*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

br {
  display: block;
  margin: 0 0 5px; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body > img {
  display: none; }

img {
  border: none;
  padding: 0;
  margin: 0; }

a, a:active, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  background-color: none;
  display: block;
  -webkit-tap-highlight-color: transparent; 
}

table, tr, td {
  padding: 0;
  border-spacing: 0; }

/*reset end */
// section{
//   border-bottom: 1px solid white;
// }
html{
  overflow-x: hidden;
  body{
    width: 100%;
    color: white;
    height: 100%;
    background-color: black;
    nav{

    }
    
    #home{
      height: 100vh;
      // background-color: black;
      // background-image: url(img/bgimg.png);
      // background-size: 107%;
      // background-position-x:15%;
      // background-position-y:-1%;
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -230px;
      }
    }

    #openhci2016{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          :nth-child(1){
            font-size: 26px;
          }
        }
      }
    }

    #introngoals{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          h2{
            margin-bottom: 10px;
          }
        }
      }
    }

    #program{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 2% 0 2%;
        .title{
          .main-title{
            display: inline-block;
          }
          .subtitle{
            width: 180px;
            display: inline-block;
            font-size: 12px;
            line-height: 1.2em;
            margin-left: 20px;
          }
        }
        #schedule{
          margin-top: 50px;
          .days{
            display: block;
            width: 160px;
            float: left;
            border-left: 1px solid white;
            padding-left: 45px;
            li{
              margin-bottom: 43px;
              a{
                display: block;
                color: white;
              }
            }
            :nth-child(6){
              margin-bottom: 0px;
            }
            .day1{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #ec125b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #ec125b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
              }

            }
            .day2{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #c52a66;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #c52a66;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
              }
            }
            .day3{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #9d4270;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #9d4270;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
              }
            }
            .day4{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #765a7b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #765a7b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
              }
            }
            .day5{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #4f7386;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #4f7386;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
              }
            }
            .day6{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #00a39b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #00a39b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
              }
            }
                            
            li.active{
              background: #ec125b; /* Old browsers */
              background: -moz-linear-gradient(left, #ec125b 0%, #00a8a0 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ec125b 0%,#00a8a0 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to right, #ec125b 0%,#00a8a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='#00a8a0',GradientType=1 );
              a{
                font-size: 28px;
              }
            }
          }
          .time-container{
            width: 75%;
            float: right;
            .day1-time, .day2-time, .day3-time, .day4-time, .day5-time, .day6-time,{
              h1{
                img{
                  margin-right: 10px;
                }
              }
              .date{
                font-size: 22px;
                margin-bottom: 30px;
              }
              p{
                margin-bottom: 15px;
                span{
                  margin-right: 15px;
                }
              }
            }
            .day2-time{}
            .day3-time{}
            .day4-time{}
            .day5-time{}
            .day6-time{}
          }
        }
      }
    }

    #registration{
      height: 100vh;
      .frame{
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
          }
          .button{
            width: 120px;
            height: 120px;
            margin: auto;
            border-radius: 50%;
            color: white;
            background: #ec125b; /* Old browsers */
            background: -moz-linear-gradient(left, #ec125b 0%, #00a8a0 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #ec125b 0%,#00a8a0 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #ec125b 0%,#00a8a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='#00a8a0',GradientType=1 );
            text-align: center;
            font-size: 14px;
            padding-top: 26%;
            margin-top: 50px;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          height: 70vh;
          overflow-x: hidden;
          overflow-y: scroll;
          padding-right: 15px;
          padding-bottom: 20px;
          &::-webkit-scrollbar {
              width: 8px;
          }
          &::-webkit-scrollbar-track {
              background-color: black;
          }
          &::-webkit-scrollbar-thumb {
              background: #ec125b; /* Old browsers */
              background: -moz-linear-gradient(left, #ec125b 0%, #00a8a0 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ec125b 0%,#00a8a0 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, #ec125b 0%,#00a8a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='#00a8a0',GradientType=1 );
          }
          h2{
            margin-bottom: 10px;
          }
        }
      }
    }

    #crew{
      height: 100vh;
      #crewList{
        width: 1068px;
        margin: auto;
        padding: 8% 4% 0 2%;
        height: 750px;
        .carousel-inner{
          .item{
            .crewtitle{
              width: 40%;
              height: 125px;
              background: -moz-linear-gradient(left, #ff0066 0%, #00a8a0 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ff0066 0%,#00a8a0 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to right, #ff0066 0%,#00a8a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0066', endColorstr='#00a8a0',GradientType=1 );
              padding-top: 10px;
              padding-left: 1px;
              img{
                float: left;
              }
              .subtitle{
                float: left;
                width: 180px;
                font-size: 12px;
                line-height: 1.2em;
                margin-left: 30%;
              }
            }
            .box{
              width: calc(100%/3);
              float: left;
              padding-right: 50px;
              h4{
                margin: 40px 0 20px 0;
                font-family: 'Work Sans';
                font-weight: 600;
              }
              .person{
                &:hover{
                  .name{
                    color: #10c6b9;
                    transition: color 0.3s ease;
                  }
                }
                .name{
                  margin: 10px 0 3px 0;
                }
                .describtion{
                  font-size: 12px;
                  font-weight: lighter;
                  line-height: 1.3em;
                }
              }
            }
          }
        }
      }
    }

    #contact{
      height: 100vh;
      .frame{
        width: 1064px;
        padding: 10% 3% 0 3%;
        margin: auto;
        text-align: center;
        img{
          position:relative;
          margin: auto;
        }
        .info{
          font-family: 'PT Sans', sans-serif;
          font-weight: 700;
          margin-top: 50px;
          div{
            a{
              display: inline-block;
              color: white;
              &:hover{
                color: #ec125b;
              }
            }
          }
        }  
      }
    }
  }
}








