@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800,900);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

@keyframes pinkPulse {
  0% {  opacity: 0.9; box-shadow: 0 0 9px #333; }
  50% {   opacity: 1; box-shadow: 0 0 30px #00a8a0; }
  100% {  opacity: 0.9; box-shadow: 0 0 9px #333; }
}

html {
  height: 100%; }

body {
  font: 16px/20px 'open sans',sans-serif, 'Noto Sans TC',"微軟正黑體" !important;
  margin: 0;
  padding: 0;
  height: 100%; }


/*reset*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

br {
  display: block;
  margin: 0 0 5px; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body > img {
  display: none; }

img {
  border: none;
  padding: 0;
  margin: 0; }

a, a:active, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  background-color: none;
  display: block;
  -webkit-tap-highlight-color: transparent; 
}

table, tr, td {
  padding: 0;
  border-spacing: 0; }

/*reset end */

/*variables */
$theme-pink: #ec125b;
$theme-green: #00a8a0;
/*variables end*/

html{
  overflow-x: hidden;
  body{
    width: 100%;
    color: white;
    height: 100%;
    background-color: black;
    nav{
      position: fixed;
    }
    
    #home{
      height: 100vh;
      #mute{
        position: absolute;
        left: 20px;
        top: 70px;
        background-image: url(img/mute.png);
        display: block;
        width: 40px;
        height: 40px;
        background-size: cover;
        opacity: 0.7;
        z-index: 10;
        &:hover{
          opacity: 1;
          transition: opacity 0.2s linear;
        }
        &:active{
          top: 71px;
        }
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .cone{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -607px;
        margin-top: -72px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .bigball{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -720px;
        margin-top: -60px;
        z-index: -1; 
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .background{
        width: 1440px;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -720px;
        background-image: url(img/home/bg/home_bg.png);
        background-size: 102%;
        background-repeat: no-repeat;
        background-position-y: 43%;
        background-position-x: 33%;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -230px;
        @media screen and (max-width: 768px){
          width: 262px;
          height: auto;
          margin-left: -131px;
          margin-top: -155px;
        }
      }
    }

    #openhci2016{
      height: 100vh;
      .biggreen{
        position: absolute;
        top: 150vh;
        left: 50%;
        width: 642px;
        height: 610px;
        background-color: #00a39b;
        border-radius: 50%;
        z-index: -3;
        margin-left: -250px;
        margin-top: -270px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .background{
        width: 1440px;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 100vh;
        margin-left: -720px;
        background-image: url(img/open/bg/open_bg.png);
        background-size: cover;
        z-index: 0;
        .sun{
          width: 59px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: 510px;
          margin-top: -210px;
        }
        .eye{
          width: 55px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: 512px;
          margin-top: -310px;
        }
        .slash{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          margin-left: -620px;
          margin-top: 170px;
        }
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .frame{
        position: relative;
        z-index: 999;
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
            @media screen and (max-width: 1050px){
              float: none;
              margin-top: 10px;
            }
          }
          @media screen and (max-width: 1050px){
            float: none;
            width: 100%;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          :nth-child(1){
            font-size: 26px;
          }
          @media screen and (max-width: 1050px){
            float: none;
            width: 100%;
            margin-top: 20px;
          }
        }
        @media screen and (max-width: 1050px){
          width: 90%;
          padding: 100px 0 0 0;
        }
      }
    }

    #introngoals{
      height: 100vh;

      .intro-bg{
        position: absolute;
        left: 50%;
        top: 200vh;
        margin-left: -630px;
        margin-top: -105px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .snake{
        position: absolute;
        top: 250vh;
        left: 50%;
        margin-top: -640px;
        margin-left: -710px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .frame{
        position: relative;
        z-index: 999;
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
            @media screen and (max-width: 1050px){
              float: none;
              margin-top: 10px;
            }
          }
          @media screen and (max-width: 1050px){
            float: none;
            width: 100%;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          h2{
            margin-bottom: 10px;
          }
          @media screen and (max-width: 1050px){
            float: none;
            width: 100%;
            margin-top: 20px;
          }
        }
        @media screen and (max-width: 1050px){
          width: 90%;
          padding: 100px 0 0 0;
        }
      }
      @media screen and (max-width: 1050px){
        height: initial;
      }
    }

    #program{
      height: 100vh;
      .program-bg{
        position: absolute;
        top: 350vh;
        left: 50%;
        margin-top: -352px;
        margin-left: -736px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .frame{
        position: relative;
        z-index: 999;
        width: 1068px;
        margin: auto;
        padding: 10% 2% 0 2%;
        .title{
          .main-title{
            display: inline-block;
          }
          .subtitle{
            width: 180px;
            display: inline-block;
            font-size: 12px;
            line-height: 1.2em;
            margin-left: 20px;
            @media screen and (max-width: 1050px){
              margin-left: 6px;
            }
          }
        }
        #schedule{
          margin-top: 50px;
          .days{
            display: block;
            width: 160px;
            float: left;
            border-left: 1px solid white;
            padding-left: 45px;
            li{
              margin-bottom: 43px;
              a{
                display: block;
                color: white;
              }
              @media screen and (max-width: 1050px){
                margin-right: 8px;
                display: inline-block;
                margin-bottom: 15px;
              }
            }
            :nth-child(6){
              margin-bottom: 0px;
            }
            .day1{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: $theme-pink;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #ec125b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer;
                @media screen and (max-width: 1050px){
                  display: none;
                }
              }
            }
            .day2{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #c52a66;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #c52a66;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer;
                @media screen and (max-width: 1050px){
                  display: none;
                }
              }
            }
            .day3{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #9d4270;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #9d4270;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer;
                @media screen and (max-width: 1050px){
                  display: none;
                }
              }
            }
            .day4{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #765a7b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #765a7b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer;
                @media screen and (max-width: 1050px){
                  display: none;
                }
              }
            }
            .day5{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #4f7386;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #4f7386;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer;
                @media screen and (max-width: 1050px){
                  display: none;
                }
              }
            }
            .day6{
              &:before{
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #00a39b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #00a39b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer;
                @media screen and (max-width: 1050px){
                  display: none;
                }
              }
            }
                            
            li.active{
              background: #ec125b; /* Old browsers */
              background: -moz-linear-gradient(left, #ec125b 0%, $theme-green 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ec125b 0%,$theme-green 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to right, #ec125b 0%,$theme-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='$theme-green',GradientType=1 );
              a{
                font-size: 28px;
              }
            }
            @media screen and (max-width: 1050px){
              float: none;
              width: 100%;
              border: 0;
              padding: 0;
            }
          }
          .time-container{
            width: 75%;
            float: right;
            .day1-time, .day2-time, .day3-time, .day4-time, .day5-time, .day6-time,{
              h1{
                img{
                  margin-right: 10px;
                }
              }
              .date{
                font-size: 22px;
                margin-bottom: 30px;
              }
              p{
                margin-bottom: 15px;
                span{
                  margin-right: 15px;
                }
              }
            }
            .day2-time{}
            .day3-time{}
            .day4-time{}
            .day5-time{}
            .day6-time{}
            @media screen and (max-width: 1050px){
              width: 100%;
              float: none;
            }
          }
          @media screen and (max-width: 1050px){
            margin-top: 16px;
          }
        }
        @media screen and (max-width: 1050px){
          width: 90%;
          padding: 100px 0 0 0;
        }
      }
    }

    #registration{
      height: 100vh;
      .registration-bg{
        position: absolute;
        top: 450vh;
        left: 50%;
        margin-top: -331px;
        margin-left: -685px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .frame{
        position: relative;
        z-index: 999;
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%;
        .title{
          width: 20%;
          float: left;
          line-height: 14px;
          .maintitle{}
          .subtitle{
            margin-top: 50px;
            font-size: 12px;
            @media screen and (max-width: 1050px){
              margin-top: 10px;
              width: 100%;
            }
          }
          .button{
            width: 120px;
            height: 120px;
            margin: auto;
            border-radius: 50%;
            color: white;
            background: #ec125b; /* Old browsers */
            background: -moz-linear-gradient(left, #ec125b 0%, $theme-green 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #ec125b 0%,$theme-green 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #ec125b 0%,$theme-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='$theme-green',GradientType=1 );
            text-align: center;
            font-size: 14px;
            padding-top: 26%;
            margin-top: 50px;
            animation-name: pinkPulse;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            @media screen and (max-width: 1050px){
              margin-top: 25px;
              padding-top: 15%;
            }
          }
          @media screen and (max-width: 1050px){
            width: 100%;
            margin-bottom: 30px;
          }
        }
        .content{
          width: 70%;
          float: right;
          line-height: 1.5em;
          height: 70vh;
          overflow-x: hidden;
          overflow-y: scroll;
          padding-right: 15px;
          padding-bottom: 20px;
          
          &::-moz-scrollbar {
              width: 8px;
          }
          &::-moz-scrollbar-track {
              background-color: black;
          }
          &::-moz-scrollbar-thumb {
              background: #ec125b; /* Old browsers */
              background: -moz-linear-gradient(left, #ec125b 0%, $theme-green 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ec125b 0%,$theme-green 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, #ec125b 0%,$theme-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='$theme-green',GradientType=1 );
          }
          &::-webkit-scrollbar {
              width: 8px;
          }
          &::-webkit-scrollbar-track {
              background-color: black;
          }
          &::-webkit-scrollbar-thumb {
              background: #ec125b; /* Old browsers */
              background: -moz-linear-gradient(left, #ec125b 0%, $theme-green 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ec125b 0%,$theme-green 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, #ec125b 0%,$theme-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='$theme-green',GradientType=1 );
          }
          h2{
            margin-bottom: 10px;
          }
          div .template-link{
            text-decoration: underline;
            color: white;
            display: inline-block;
            &:hover{
              color: #ec125b;
              transition: color 0.3s ease;
            }
          }
          @media screen and (max-width: 1050px){
            width: 95%;
            margin: auto;
            float: none;
          }
        }
        @media screen and (max-width: 1050px){
          width: 90%;
          padding: 100px 0 0 0;
        }
      }
      @media screen and (max-width: 1050px){
        height: initial;
      }
    }

    #crew{
      height: 100vh;
      .crew-bg{
        position: absolute;
        top: 550vh;
        left: 50%;
        margin-top: -703px;
        margin-left: -649px;
        z-index: -4;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .six{
        position: absolute;
        top: 550vh;
        left: 50%;
        margin-top: 186px;
        margin-left: 487px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      #crewList{
        width: 1068px;
        margin: auto;
        padding: 8% 4% 0 2%;
        height: 750px;
        .carousel-inner{
          .item{
            .crewtitle{
              width: 40%;
              height: 125px;
              background: -moz-linear-gradient(left, #ff0066 0%, $theme-green 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #ff0066 0%,$theme-green 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to right, #ff0066 0%,$theme-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0066', endColorstr='$theme-green',GradientType=1 );
              padding-top: 10px;
              padding-left: 1px;
              img{
                float: left;
              }
              .subtitle{
                float: left;
                width: 180px;
                font-size: 12px;
                line-height: 1.2em;
                margin-left: 30%;
                @media screen and (max-width: 1050px){
                  float: none;
                }
              }
              @media screen and (max-width: 1050px){
                width: 100%;
              }
            }
            .box{
              width: calc(100%/3);
              float: left;
              padding-right: 50px;
              h4{
                margin: 40px 0 20px 0;
                font-family: 'Work Sans';
                font-weight: 600;
              }
              .person{
                &:hover{
                  .name{
                    color: #10c6b9;
                    transition: color 0.3s ease;
                  }
                }
                .name{
                  margin: 10px 0 3px 0;
                }
                .describtion{
                  font-size: 12px;
                  font-weight: lighter;
                  line-height: 1.3em;
                }
              }
              @media screen and (max-width: 1050px){
                width: 50%;
                padding-right: 15px;
              }
            }
            .cat-name{
              margin: 40px 0 20px 0;
              font-family: 'Work Sans';
              font-weight: 600;
              color: white;
            }
            .organizer, .co-organizer{
              display: inline-block;
              margin-right: 20px;
              color: white;
              @media screen and (max-width: 768px){
                  margin-bottom: 10px;
              }
            }
            .sponsor{
              display: inline-block;
              margin-right: 20px;
              width: auto;
              height: 120px;
              img{
                @media screen and (max-width: 768px){
                  width: auto;
                  height: 80px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 1050px){
          width: 90%;
          padding: 100px 0 0 0;
          height: 180vh;
        }
      }
      @media screen and (max-width: 1050px){
        height: 180vh;
      }
    }

    #contact{
      height: 100vh;
      .contact-bg{
        position: absolute;
        top: 650vh;
        left: 50%;
        margin-left: -622px;
        margin-top: -326px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .frame{
        position: relative;
        z-index: 999;
        width: 1064px;
        padding: 10% 3% 0 3%;
        margin: auto;
        text-align: center;
        img{
          position:relative;
          margin: auto;
        }
        .info{
          font-family: 'PT Sans', sans-serif;
          font-weight: 700;
          margin-top: 50px;
          div{
            a{
              display: inline-block;
              color: white;
              &:hover{
                color: #ec125b;
              }
            }
          }
        }
        @media screen and (max-width: 1050px){
          width: 90%;
          padding: 100px 0 0 0;
        }  
      }
    }
    @media screen and (max-width: 769px){
      background-image: url(img/rwd_bg.png);
      background-size: cover;
      background-position-y: -3%;
    }
  }
}








